.header{
    display: flex;
    padding: 0 88px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 492px;
    padding: 40px 0;
}

.menu li{
    box-sizing: border-box;
    text-align: center;
    width: 25%;
}

.menu a{
    font-size: 20px;
}

.banner{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
    background-size: cover;
    height: 840px;
    background-position: center;
} 

h2{
    display: flex;
    align-items: center;
}

@media (max-width:992px){
    .header{
        padding: 0 39px;
    }
    .menu{
        width: 420px;
    }
}

@media (max-width:767px){
    .header{
        padding: 0;
        flex-direction: column;
    }
    
    .menu{
        width: 100%;
        padding: 0;
    }

    .menu li{
        width: 50%;
        border: 1px solid #fff;
        padding: 8px 0;
    }

    .logo{
        padding: 10px 0;
    }
    .banner{
        height: 394px;
    }
}
.footer-content{
    display: flex;
    padding-top: 48px;
    padding-bottom: 22px;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.footer-menu{
    width: 464px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}
.social-app{
    display: flex;
    justify-content: space-between;
    width: 208px;
}
.footer-contact li{
    line-height: 1.5;
    font-size: 36px;
    display: flex;
    align-items: center;
}
.footer-contact img{
    margin-right: 10px;
    width: 44px;
    height: 44px;
}
.footer-logo{
    margin-right: 38px;
}
.footer-second{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.copyright-detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.privacy{
    width: 188px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:992px){
   .footer-logo{
       display: none;
   }
   .footer img{
       width: 24px;
       height: 24px;
   }
   .social-app{
       width: 120px;
   }
   .footer-contact li{
       font-size: 20px;
   }
   .privacy{
    width: 150px;
    font-size: 14px;
    }

}

@media (max-width:767px){
    .footer-menu{
        display: none;
    }
    .footer-second{
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    .copyright-detail{
        flex-direction:column;
        font-size: 14px;
    }
    .footer-logo{
        display: block;
    }
    .footer-logo img{
        width: 46px;
        height: 28px;
    }
    .privacy{
        display: block;
    }
}